.section-cards {
  width: 20%;
  height: 100vh;
  position: relative;
}

.list-cards {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top:70px;
  border-right: 1px solid #ccc;
}

.box-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.box-create p {
  color: #fff;
  text-align: center;
  font-weight: 500;
}

.link-create {
  text-align: center;
  color: #569af4;
  text-decoration: none;
}

